<launch>
    
    <!--- Sim Time -->
    <param name="/use_sim_time" value="true" />

    <arg name="bag_path"  default=" /media/qzj/Extreme\ SSD/datasets/SJTU/xiaomi/2021-12-03-13-30-50.bag"/>
<!--    <arg name="bag_path"  default=" /media/qzj/Extreme\ SSD/datasets/SJTU/xiaomi/2021-12-03-13-32-26.bag"/>-->
<!--    <arg name="bag_path"  default=" /media/qzj/Extreme\ SSD/datasets/SJTU/xiaomi/2021-12-03-13-34-36.bag"/>-->
<!--    <arg name="bag_path"  default=" /media/qzj/Extreme\ SSD/datasets/SJTU/xiaomi/2021-12-03-13-41-11.bag"/>-->

    <arg name="voc_file"  default="$(find orb_slam3)/Vocabulary/ORBvoc.txt"/>
    <arg name="cfg_file"  default="$(find orb_slam3)/Examples/ROS/ORB_SLAM3/mynt.yaml"/>
    <arg name="do_rectify" default="true"/>

    <!--- Run Rviz-->
<!--    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find orb_slam3)/launch/test.rviz" />-->


    <node pkg="orb_slam3" type="ros_stereo" name="ros_stereo" output="screen"
          args="$(arg voc_file) $(arg cfg_file) $(arg do_rectify)"/>

    <node pkg="rosbag" type="play" name="rosbag" args="--pause --clock $(arg bag_path) -r 1" >
        <remap from="/mynteye/left/image_raw" to="/camera/left/image_raw"></remap>
        <remap from="/mynteye/right/image_raw" to="/camera/right/image_raw"></remap>
    </node>

</launch>
